@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
}

body {
	/* height: 100vh;
	width: 100vw; */
	/* background: #6b92b9; */
	background: linear-gradient(to right, #7ee8fa, #eec0c6);
	overflow: hidden;
}
canvas {
	display: block;
}

#loveQuestion {
	position: absolute;
	left: 50%;
	top: 40%;
	transform: translate(-50%, -50%);
	font-size: 80px;
	width: 100%;
	text-align: center;
}

input {
	width: 200px;
	font-size: 30px;
	border: none;
	color: white;
	padding: 16px 32px;
	text-align: center;
}

#btnYes {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 20%;
	background-color: #7bd806;
	transition: 0.3s;
	cursor: pointer;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#btnNo {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%);
	background-color: #f4511e;
	transition: 0.3s;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	z-index: 1;
}
.music:hover,
#btnYes:hover {
	filter: brightness(90%);
}

/* MUSIC */
/* add on */
.music {
	position: absolute;
	left: 48%;
	top: 51%;
	transition: 0.3s;
	transform: translateX(-50%);
	cursor: pointer;
	animation: scale 1.5s linear infinite;
}

.music img {
	width: 50px;
	cursor: pointer;
	transition: all 0.3s linear;
}

@keyframes scale {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}
@media screen and (max-width: 1024px) {
	#loveQuestion {
		top: 35%;
		font-size: 60px;
	}
}
@media screen and (max-width: 768px) {
	#loveQuestion {
		top: 30%;
		font-size: 50px;
	}
}
